<h1>New Image</h1>

<% if @image.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved: </h2>
    <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= render 'form', image: @image %>

<%= link_to 'Back', images_path %>
